# Copia este archivo a .env para desarrollo local
# NO subas .env a git

DATABASE_URL=sqlite:///./polla_mundial.db
SECRET_KEY=dev_secret_key_cambia_esto_en_produccion
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin2026
ADMIN_EMAIL=admin@polla.com
ENVIRONMENT=development
FOOTBALL_API_KEY=tu_api_key_de_football-data.org
